################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ccvic
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
